{% extends "main.html" %}

{% block seccion %}

  <h2>Notas:</h2>
  {% for item in notas %}
  <div>
    <h3>{{ item.title }}</h3>
    <p>{{ item.content }}</p>
  </div>
  {% else %}
    <li>Crea tu primera nota...</li>
  {% endfor %}

    <h2>Nueva nota</h2>
    <form action="/notas/" method="POST" enctype="multipart/form-data">
        <input type="text" name="title" placeholder="Title...">
        <br>
        <textarea name="content">...</textarea>
        <input type="submit">
    </form>

{% endblock %}

